section.info
  .container
    .info__content
      span.info_n.rellax(data-rellax-speed="-1") 01
      span.label.wow.animate__fadeInLeft(data-wow-duration="2s") GEt Started
      h2.h2.wow.animate__fadeInLeft(data-wow-duration="2s", data-wow-delay="0.3s", style="max-width: 555px;") What level of  hiker are you?
      p.text.wow.animate__fadeInLeft(data-wow-duration="2s", data-wow-delay="0.6s", style="visibility: hidden") Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
      a.link.link_accent.wow.animate__fadeInLeft(href="#", data-wow-duration="2s", data-wow-delay="0.9s", style="visibility: hidden")
        span read more
        img(src="../img/arrow_right_24px.svg", alt="")
    
    div.info__img.wow.animate__fadeIn(data-wow-duration="2s", data-wow-delay="2s", id="scene1", data-relative-input="true")
      img(src="../img/content/3.png", alt="", data-depth="0.2")

section.info
  .container
    .info__content
      span.info_n.rellax(data-rellax-speed="-1") 02
      span.label.wow.animate__fadeInLeft(data-wow-duration="2s") GEt Started
      h2.h2.wow.animate__fadeInLeft(data-wow-duration="2s", data-wow-delay="0.3s", style="max-width: 555px;") What level of  hiker are you?
      p.text.wow.animate__fadeInLeft(data-wow-duration="2s", data-wow-delay="0.6s", style="visibility: hidden") Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
      a.link.link_accent.wow.animate__fadeInLeft(href="#", data-wow-duration="2s", data-wow-delay="0.9s", style="visibility: hidden")
        span read more
        img(src="../img/arrow_right_24px.svg", alt="")
    
    div.info__img.wow.animate__fadeIn(data-wow-duration="2s", data-wow-delay="2s", id="scene2", data-relative-input="true")
      img(src="../img/content/2.png", alt="", data-depth="0.35")

section.info
  .container
    .info__content
      span.info_n.rellax(data-rellax-speed="-1") 03
      span.label.wow.animate__fadeInLeft(data-wow-duration="2s") GEt Started
      h2.h2.wow.animate__fadeInLeft(data-wow-duration="2s", data-wow-delay="0.3s", style="max-width: 555px;") What level of  hiker are you?
      p.text.wow.animate__fadeInLeft(data-wow-duration="2s", data-wow-delay="0.6s", style="visibility: hidden") Determining what level of hiker you are can be an important tool when planning future hikes. This hiking level guide will help you plan hikes according to different hike ratings set by various websites like All Trails and Modern Hiker. What type of hiker are you – novice, moderate, advanced moderate, expert, or expert backpacker?
      a.link.link_accent.wow.animate__fadeInLeft(href="#", data-wow-duration="2s", data-wow-delay="0.9s", style="visibility: hidden")
        span read more
        img(src="../img/arrow_right_24px.svg", alt="")
    
    div.info__img.wow.animate__fadeIn(data-wow-duration="2s", data-wow-delay="2s", id="scene3", data-relative-input="true")
      img(src="../img/content/1.png", alt="", data-depth="0.4")