@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-150%);
  }

  40% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header {
  display: flex;
  padding: 64px 80px;
  justify-content: space-between;
  color: #fff;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  &__logo {
    font-family: $second-font;

    animation: fadeInLeft 1s;
    // animation-iteration-count: infinite;
  }

  &__nav {
    
    & > ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      & > li {
        margin-right: 40px;
        opacity: 0;
        animation-fill-mode: forwards;

        &:nth-child(1) {
          animation-name: fadeInLeft;
          animation-duration: 1s;
          // animation-iteration-count: infinite;
          animation-delay: 0.3s;
        }

        &:nth-child(2) {
          animation-name: fadeInLeft;
          animation-duration: 1s;
          // animation-iteration-count: infinite;
          animation-delay: 0.6s;
        }

        &:nth-child(3) {
          animation-name: fadeInLeft;
          animation-duration: 1s;
          // animation-iteration-count: infinite;
          animation-delay: 0.9s;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    a {
      text-decoration: none;
      color: currentColor;
    }
  }

  &__account {
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-delay: 1.1s;
    animation-fill-mode: forwards;

    img, span {
      vertical-align: middle;
    }

    img {
      margin-right: 8px;
    }
  }
}