@media (max-width: 960px) {
  .h1 {
    font-size: 57px;
    line-height: 72px;
    margin-top: 26px;
    margin-bottom: 26px;
  }

  .label {
    font-size: 16px;
    line-height: 18px;
  }
}

@media (max-width: 770px) {
  .main {

    &__social {
      display: none;
    }

    &__content {
      padding-right: 80px;
      padding-left: 80px;
    }
  }

  .counter {
    display: none;
  }

  .label {
    font-size: 13px;
    line-height: 1;

    &::before {
      width: 30px;
      margin-right: 15px;
    }
  }
}

.mobile-nav_close {
  color: $white;
  display: block;
  padding: 20px 30px;
  font-size: 12px;
}

@media (min-width: 630px) {
  .mobile-nav_close {
    display: none;
  }
}

@media (max-width: 630px) {
  .mobile-nav_open {
    display: inline-block !important;
    color: $white;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
  }

  .h1 {
    font-size: 25px;
    line-height: 1.5;
  }

  .header, .main__content {
    padding-left: 5%;
    padding-right: 5%;
  }

  .header {
    &__nav {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background: $dark;
      z-index: 999;
      transform: translate(100%, 0);
      transition: transform .5s;

      &:target {
        transform: translate(0, 0);
      }

      ul {
        display: block;

        li {
          animation-name: none !important;
          opacity: 1;
          margin-right: 0;
          
          a {
            display: block;
            padding: 20px 30px;
          }
        }
      }
    }

    &__account {
      display: none;
    }
  }
}