@import "../fonts/stylesheet.css";
@import "../../node_modules/normalize.css/normalize";
@import "variables";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: $main-font;
  font-weight: 700;
  color: $white;
  background: $dark;
  overflow: hidden auto;
}

.container {
  max-width:  1502px;
  margin: 0 auto;
  padding: 0 20px;
}

.wow {
  visibility: hidden;
}

.hide {
  visibility: hidden;
}

@import "blocks";
@import "utils";
@import "media";